@use "./utilities" as *;
.footer {
        margin-top: pixTOrem(100px);

        &__text {
                color: #667085;
                font-size: pixTOrem(16px);
        }
        &__wrapper {
                border: solid #eaecf0;
                border-width: 2px 0 0 0;
                display: flex;
                flex-flow: row wrap;
                gap: pixTOrem(16px);
                justify-content: space-between;
                margin-inline: auto;
                padding-block: pixTOrem(44px);
                padding-inline: pixTOrem(16px);
                width: clamp(pixTOrem(300px, rem), 100%, pixTOrem(1152px, rem));
        }
}
@media (max-width: 767.98px) {
        .footer__wrapper {
                flex-flow: column;
        }
}
