@use "./utilities" as *;
.social {
        align-items: center;
        display: flex;
        gap: pixTOrem(32px);
        justify-content: center;
        margin: auto;
        padding-block: pixTOrem(32px);
        width: clamp(pixTOrem(300px, rem), 100%, pixTOrem(1152px, rem));
}
